body{
    margin-top: 0;
    padding-top: 0;
    background-color: #CCDDD3;
    font-family: Tahoma, Verdana, Arial;
}

header{
    margin-top: 0;
    padding-top: 0;
}

.heading{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-left: 72px;
    border-bottom: 1px solid black;
    background-color: #e7e7e7;
    height: 40px;
    color: black;
}

h2{
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    /* color: #36413E; */
    color: black;
}

.quickList{
    grid-column: 1;
    height: 88vh;
    border-right: 1px solid black;
    /* padding-left: 0; */
    /* margin-left: 0; */
}


.quickList > button {
    display: block;
    width: 100%;
    height: 50px;
}
.mainContainer{
    /* padding-top: 10px; */
    /* border: 1px solid red; */
    /* padding-left: 10px; */
    grid-column: 2;
    text-align: left;
}

.imgAndTable{
    /* display: grid;
    grid-template-columns: max-content auto;
    border: 1px solid red; */
    text-align: center;
}

.image{

}

img{
    width: 50%;
}

.profile{
    /* display: inline; */
    text-align: justify;
}

table{
    border-collapse: collapse;
    /* border: 3px solid red; */
    margin-left: auto;
    margin-right: auto;
    /* padding: 5px; */
    max-width: 528px;
    width: 60%;
    height: auto;
    line-height: 2px;
    font-size: 16px;
    background-color: #e7e7e7;
    border-radius: 3px;
}

tr:nth-child(1){
    text-align: center;
    margin-bottom: 30px;
}

tr{
    height: 32px;
    /* border: 1px red solid; */
}

td{
    padding-left: 50px;
}

/* th, td{
    border: 1px dotted purple;
    height: inherit;
} */

h1{
    /* padding-bottom: 10px; */
    /* padding-top: 5px; */
    margin-top: 5px;
    text-align: left;
    margin-bottom: 10px;
    /* margin: 0; */
}

.main-container > p{
    /* text-align: justify; */
}

button{
    color: inherit;
    font-weight: bold;
    /* background-color: #e7e7e7; */
    /* border: #e7e7e7; */
}